<div id="header">
	<div id="logo">
	  <h1><a href="#">Event System</a></h1>
	  <h2><a href="#">ITI</a></h2>
	</div>
	<div id="menu">
	  <ul>
		<li class="active"><a [routerLink]="['home']" accesskey="1">Home</a></li>
		<li><a [routerLink]="['admin']" accesskey="2">Admin</a></li>
		<li><a [routerLink]="['student']" accesskey="3">Student</a></li>
		<li><a [routerLink]="['speaker']" accesskey="4">Speaker</a></li>
		<li><a [routerLink]="['home']" accesskey="5">about</a></li>
	  </ul>
	</div>
</div>
