<div id="gallery">
	<div id="top-photo">
		<p><a href="#"><img src="../../../assets/images/img04.jpg" alt="" width="700" height="299" /></a></p>
	</div>
</div>
<div id="content">
    <div id="posts">
      <div class="post">
        <h2 class="title">Welcome to The Event system!</h2>
        <div class="meta">
          <p class="date">Posted on May 1, 2022 by Hager Montaser</p>
        </div>
        <div class="story">
          <p><strong>The Event system</strong> will manage events on ITI , speaker who speaks in any events, students who attend 
            the event, and admin who create and manage events. <em><strong>Enjoy :)</strong></em></p>
        </div>
      </div>
    </div>
   
</div>
